browser-cookie3==0.20.1
click==8.2.1
colorama==0.4.6
decompyle3==3.9.2
lz4==4.4.4
pycryptodomex==3.23.0
pywin32==310
shadowcopy==0.0.4
six==1.17.0
spark-parser==1.8.9
WMI==1.5.1
xdis==6.1.1
yt-dlp==2025.6.30